<% provide(:title, "About" ) %>
<h1>Sporstとは</h1>
<p>Sporstはスポーツを見ることが好きな人が集まるサイトです。
好きなスポーツリーグの魅力を誰でも語れるサイト
が欲しいと思って開発しています。ライブの試合についてコメント
できるような機能も実装予定です。Sporstの由来はSportsとpostを合わせた
造語です。
このサイトを通じて新しいスポーツリーグに興味を持って頂けたら幸いです。
</p>

