<div class = "container-fluid">  
  <h1>スポーツ一覧</h1>
  <div class ="row">
    <% @sports.each do |s| %>
      <div class="card col-xl-3 col-lg-4 col-sm-6 col-xs-12 p-0">
        <%=  link_to(sports_path(kind: s.kind)) do %>
          <%= image_tag("sports_images/#{s.kind}.jpg", class: 'img-fluid card-img') %>
        <div class="card-img-overlay">
          <p class = "h2"><%= s.kind %> </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



