<div class = "content">  
  <h1>スポーツ一覧</h1>
  <div class = "sports_index">
    <% @sports.each do |s| %>
      <div class="sports_images">  
        <%= link_to( sports_path(kind: s.kind)) do  %>
                <p><%= s.kind %> </p>
          
        <% end %>
        <a><%= link_to  image_tag("/#{s.kind}.jpg"), sports_path(kind: s.kind) %></a>
      </div>
    <% end %>    
       
     
  </div>
</div>
