<h1>スポーツ一覧</h1>
<div class = "sports_index">
  <div class="baseball">  
    <a href="baseball"><img src="/sports_images/baseball.jpg" alt="" class=""></a>
    <a href="baseball"><h2>baseball</h2></a>
  </div> 
  <div class="basketball">  
    <a href="basketball"><img src="/sports_images/basketball.jpg" alt="" class=""></a>
    <a href="basketball"><h2>basketball</h2></a>
  </div> 
</div>
