<h1>スポーツ一覧</h1>
<div class = "sports_index">
  <div class="baseball">  
    <img src="/sports_images/baseball.jpg" alt="" class="img-fluid">
    <h2>baseball</h2>
  </div> 
  <div class="basketball">  
    <img src="/sports_images/basketball.jpg" alt="" class="img-fluid">
    <h2>basketball</h2>
  </div> 
</div>
