<div class = "content">  
  <h1>スポーツ一覧</h1>
  <div class = "sports_index">
    <% @sports.each do |s| %>
      <div class="sports_images">  
        <%= link_to( sports_path(kind: s.kind)) do  %>
                <p><%= s.kind %> </p>
          
        <% end %>
        <%= link_to  image_tag("sports_images/#{s.kind}.jpg"), sports_path(kind: s.kind) %>
      </div>
    <% end %>    
       <a href="/sports?kind=soccer"><img src="/assets/sports_images/soccer-80356453c75a737cff863d8edd2ba922641b5e80895cbdda867e84924ff110a4.jpg" alt="Soccer" /></a>
     
     
  </div>
</div>
