<div class = "content">  
  <h1>スポーツ一覧</h1>
  <div class = "sports_index">
    <% @sports.each do |s| %>
      <div class="sports_images">  
        <%= link_to( sports_path(kind: s.kind)) do  %>
                <p><%= s.kind %> </p>
          
        <% end %>
        <%= link_to  image_tag("/#{s.kind}.jpg"), sports_path(kind: s.kind) %>
      </div>
    <% end %>    
       
     <a href="/sports?kind=baseball"><img src="/baseball.jpg" alt="Baseball" /></a>
  </div>
</div>
