<div class = "container-fluid issei ">  
  <h1>スポーツ一覧</h1>
  <div class ="row">
    <% @sports.each do |s| %>
      <div class=" col-lg-3 col-xs-12 p-0"> 
       
        <%=  link_to  image_tag("sports_images/#{s.kind}.jpg", class: 'img-fluid'), sports_path(kind: s.kind)   %>
      </div>
    <% end %>    
       
     
    </div>
  
</div>
