<div class = "container-fluid issei">  
  <h1>スポーツ一覧</h1>
  <div class ="row">
    <% @sports.each do |s| %>
      <div class="col-xs-6 col-lg-4"> 
       
        <%=  link_to  image_tag("sports_images/#{s.kind}.jpg"), sports_path(kind: s.kind)   %>
      </div>
    <% end %>    
       
     
    </div>
  
</div>
