<% provide(:title, "basketball" ) %>
<h1>baseball</h1>
<p>
  <% @posts.each do |post| %> 
    <%= link_to( "basketball/#{post.id}/show") do  %>
      <%= post.title %>
      <br>
    <% end %>
  <% end %>
</p>

