<% provide(:title, "#{@post_league}" ) %>
<div class = "title">
  <h1> <%= "#{@post_league}" %> </h1>
</div>
<div class = "title-index">
  <p>
    <% @posts.each do |post| %> 
      <%= link_to( "posts/#{post.id}/show") do  %>
        <%= post.title %>  <%= post.created_at.in_time_zone('Tokyo')%>
        <br>
      <% end %>
      
    <% end %>
  </p>
</div>
