<% provide(:title, "#{@post_kind}" ) %>
<div class = "title">
  <h1> <%= "#{@post_kind}" %> </h1>
</div>
<div class = "league">
  
  <% @leagues.each do |l| %>
    <%= link_to( "/#{@post_kind}/#{l.league}/") do  %>
      <%= l.league %> 
          
    <% end %>
  <% end %>
</div>
  