<% provide(:title, @post_kind ) %>
<div class = "text-center">
  <h1> <%= @post_kind %> </h1>
</div>

<div class = "container-fluid">  
  <div class ="row">
    <% @leagues.each do |l| %>
      <div class="card col-xl-3 col-lg-4 col-sm-6 col-xs-12 p-0">
        <%=  link_to(index_path(league: l.league)) do %>
          <%= image_tag("leagues_images/#{l.league}.jpg", class: 'img-fluid card-img') %>
        <div class="card-img-overlay">
          <p class = "h2"><%= l.league %> </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
