<% provide(:title) do %>
  <%= @post.title %>
<%end%>

<h1><%= @post.title %></h1>
<p class= 'change'>
  <%= @post.content %> 
</p>
<p><%= link_to( "編集" ,post_edit_path(id: @post.id)) if @post.user_id == @current_user.id %></p>