@import "bootstrap";
/* universal */

body {
  padding: 10px 5% 0 5%;
  font-family:sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo{
  font-size:40px;
  color:white;
  float:left;
  margin:20px;
}

#header{
   background-color:#afeeee;
   height:100px;
  .linklist{
    margin-right:20px;
  
    li{
     font-size:20px;
     display:flex;
     float:right;
     margin:50px 10px 5px 10px;
    }
  }
   
}



/* home */




.sports_index{
   display:flex;
   flex-wrap:wrap;
   margin: 70px auto 0 auto;
   width:100%;
   margin:0px auto;
   
   
  .sports_images{
  position:relative;
  margin:0;
  width:33%;
  
  
 
    p{
      position:absolute;
      top:0;
      left:0;
      font-size:30px;
      color:#ffcc33;
      text-shadow: 2px  2px 5px black;
    }
    img{
    width: 100%;
    height: 100%;
    
    }
  }
}

.alert{
  text-align:center;
  padding: 10px 0 ;
  background-color:palegreen;
  font-size:15px;
  color:#993300;
}




