
@import "bootstrap";

/* universal */

body {
  padding: 100px 5% 0 5%;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo{
  font-size:40px;
  color:white;
}

#header{
   background-color:#afeeee;
}



/* home */


.sports_index{
  display:flex;

  .baseball, .basketball{
  position:relative;
  margin:10px;
  
    h2{
      position:absolute;
      top:0;
      left:0;
      font-size:40px;
      color:white;
    }
  
  }
}