


/* universal */

body {
  padding: 10px 5% 0 5%;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo{
  font-size:40px;
  color:white;
}

#header{
   background-color:#afeeee;
   padding: 20px 0 20px 0;
   li{
     font-size:20px;
     display:flex;
   }
}



/* home */


.sports_index{
  display:flex;

  .baseball, .basketball{
  position:relative;
  margin:10px;
  width:50%;
  
    h2{
      position:absolute;
      top:0;
      left:0;
      font-size:40px;
      color:navy;
    }
    img{
      height:100%;
      width:100%;
      
      
    }
  }
}