<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <div class = 'back'>
      <%= yield %>
    </div>
  </body>
</html>
